<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="1.0, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">

	<title>appROVE: Job Details</title>

	<link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/captureicon.png">
	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.min.css">

	  <!-- Custom CSS -->
    <link href="assets/styles/stylish-portfolio.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="assets/styles/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</head>

<body>
	<section class="main_body">

		<div class="card head col-lg-12">
		 	<img src="assets\images\gallery\homecredit.jpg">
		</div>

		<div class="card col-lg-12">
		 	<h3>Home Credit</h3>
		 	<a class="links" href="jobdetails.html">Home Credit Indonesia (Recruitment Page for MARKETING & STRATEGY team)</a>
		 	<p>South Jakarta, Indonesia25,000,000.00 - 30,000,000.00 IDR / month Full time</p>
		 	<div class="col-lg-3">
		 		<button type="submit" class="btn btn-primary btn-md">Apply Now</button>
		 	</div>
		</div>

		<div class="card col-lg-12">
		 	<h5><strong>Job Description</strong></h5>
		 		<ul>
					<li>Develop 2W competitive & interesting promo</li>
					<li>Review and monitoring competitors promo</li>
					<li>Working with insurance team to deal with insurance product for 2W</li>
					<li>Working with brand and creative team on maketing communication for 2W</li>
					<li>Evaluate all inputs of product setting, assignment-post in system.</li>
					<li>Coordinate product training and communication to sales network.</li>
					<li>Supervise all product creation to follow correct guideline</li>
					<li>Identify pain points of all sales performance from all products</li>
					<li>Lead regular survey on all product performance based on market reaction</li>
					<li>Develop and sustain internal review of product evaluation from sales network, CRM, risk, finance, etc.</li>
					<li>Identify further improvement on IT product set up</li>
					<li>Develop and manage team members (for future necessity)</li>

		 		</ul>
		

		
		 	<h5><strong>Minimum Qualifications</strong></h5>
		 		<ul>
					<li>Prefer Experience from 2W industry Main Dealer Motorcycle / Motor Financing</li>
					<li>Proven 4 to 5 years experience in Product Management, Development, from two wheelers financing (or Project Management / Business Development / Corporate Strategy)</li>
					<li>University degree, preferred in Computer Science, IT, Statistics, Informatics, Mathematics or Engineering major (can be substituted by extensive relevant experience)</li>
					<li>Excellent verbal and written communication in English</li>
				</ul>

			
			<h5><strong>Perks and Benefits</strong></h5>
			<div class="row">
				 <div class="col-lg-4">		
							<p>Maternity & Paternity Leave</p>
							<p>Medical / Health Insurance</p>
							<p>Gym Membership</p>
				</div>	
				<div class="col-lg-4">		
							<p>Life Insurance</p>
							<p>Medical, Prescription, Dental, or Vision Plans</p>
							<p>Performance Bonus</p>
				</div>	
			</div>	

			<h5><strong>Required Skills</strong></h5>
		 		<ul>
					<li>Product Development</li>
					<li>Product Management</li>
		 		</ul>

		 	<h5><strong>Job Summary</strong></h5>
		 		<div class="row">
			 		<div class="col-lg-4">	
			 			<h6><strong>Job level </strong></h6>	
								<p><a href="#">Mid-Senior Level / Manager</a></p>
						<h6><strong>Job category </strong></h6>	
								<p><a href="#">Sales and Marketing</a></p>	
						<h6><strong>Educational requirement </strong></h6>	
								<p><a href="#">Bachelor's degree graduate</a></p>		
					</div>	

					<div class="col-lg-5">	
			 			<h6><strong>Industry </strong></h6>	
								<p>HiTech Financial Service</p>
						<h6><strong>Vacancy</strong></h6>	
								<p>1 opening</p>	
						<h6><strong>Website</strong></h6>	
								<p><a href="https://www.homecredit.co.id/Careers/Meet-Our-People">https://www.homecredit.co.id/Careers/Meet-Our-People</a></p>	
					</div>	
				</div>
		</div>
	</section>
</body>

<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/popper.min.js"></script>
	  <!-- Custom scripts for this template -->
    <script src="assets/js/stylish-portfolio.min.js"></script>